* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Odibee Sans";
  background-image: url("./images/fondo.png");
}

.root {
  padding: 0 20px;
  height: 100vh;
}

.page {
  margin: 0 auto;
  height: 100vh;
}
.button-container {
  width: 100%;
}

.title {
  font-size: 200px;
  margin: 80px 0 0;
  font-size: 80px;
  color: #009048;
  letter-spacing: 10px;
}

.start-button {
  width: 100%;
  max-width: 404px;
  margin: 75px 0;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  justify-content: center;
  align-items: center;
}

.moves-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  gap: 10px;
}

@media (min-width: 769px) {
  .moves-container {
    gap: 45px;
  }
}
